## Chp 3 What's a matrix?

### What's a matrix?
In R, a matrix is a collection of elements of **the same data type** (numeric, character, or logical) arranged into a fixed number of rows and columns. Since you are only working with rows and columns, a matrix is called _two-dimensional_.

You can construct a matrix in R with the `matrix()` function. Consider the following example:

> `matrix(1:9, byrow = TRUE, nrow = 3)`

In the [**matrix()**](https://www.rdocumentation.org/packages/base/versions/3.6.2/topics/matrix) function:

- The first argument is the collection of elements that R will arrange into the rows and columns of the matrix. Here, we use `1:9` which is a shortcut for `c(1, 2, 3, 4, 5, 6, 7, 8, 9)`.

- The argument **`byrow`** indicates that the matrix is filled by the rows. If we want the matrix to be filled by the columns, we just place `byrow = FALSE`.
- The third argument `nrow` indicates that the matrix should have three rows.

In [57]:
# Construct a matrix with 3 rows that contain the numbers 1 up to 9
print(matrix(1:9,byrow =TRUE,nrow = 3))
# Construct a matrix with 1 column that contain the numbers 1 up to 9
print(matrix(1:9,byrow =FALSE,ncol = 1))

     [,1] [,2] [,3]
[1,]    1    2    3
[2,]    4    5    6
[3,]    7    8    9
      [,1]
 [1,]    1
 [2,]    2
 [3,]    3
 [4,]    4
 [5,]    5
 [6,]    6
 [7,]    7
 [8,]    8
 [9,]    9

In [58]:
?matrix

In [60]:
c(1,2,3,4,5,6,7,8,9)
# shortcut of the above
1:9

[1] 1 2 3 4 5 6 7 8 9

[1] 1 2 3 4 5 6 7 8 9

In [63]:
# Box office Star Wars (in millions!)
new_hope <- c(460.998, 314.4)
empire_strikes <- c(290.475, 247.900)
return_jedi <- c(309.306, 165.8)

# Create box_office
box_office <- c(new_hope, empire_strikes, return_jedi)
print(box_office)

# Construct star_wars_matrix
star_wars_matrix <- matrix(box_office, nrow=3, byrow=TRUE, dimnames=list(c("new hope", "empire strike", "return jedi"),c(1,2)))
star_wars_matrix

[1] 460.998 314.400 290.475 247.900 309.306 165.800

              1       2
new hope      460.998 314.4
empire strike 290.475 247.9
return jedi   309.306 165.8

In [73]:
# Vectors region and titles, used for naming
region <- c("US", "non-US")
titles <- c("A New Hope", "The Empire Strikes Back", "Return of the Jedi")

# Name the columns with region

colnames(star_wars_matrix)<- region
# Name the rows with titles
rownames(star_wars_matrix)<- titles


# Print out star_wars_matrix
star_wars_matrix

                        US      non-US
A New Hope              460.998 314.4
The Empire Strikes Back 290.475 247.9
Return of the Jedi      309.306 165.8

In [68]:
# Calculate worldwide box office figures
worldwide_vector <- rowSums(star_wars_matrix)
worldwide_vector
class(worldwide_vector)

     new hope empire strike   return jedi
      775.398       538.375       475.106

[1] "numeric"

In [69]:
# Bind the new variable worldwide_vector as a column to star_wars_matrix
all_wars_matrix <- cbind(star_wars_matrix, worldwide_vector)
colnames(all_wars_matrix) <- c("US", "Non-US", "World_Total")
all_wars_matrix

              US      Non-US World_Total
new hope      460.998 314.4  775.398
empire strike 290.475 247.9  538.375
return jedi   309.306 165.8  475.106

In [74]:
# Print out star_wars_matrix
star_wars_matrix

                        US      non-US
A New Hope              460.998 314.4
The Empire Strikes Back 290.475 247.9
Return of the Jedi      309.306 165.8

In [75]:
# Box office Star Wars 2 (in millions!)
phantom_menace <- c(474.5, 552.5)
attack_clones <- c(310.7, 338.7)
revenge_sith <- c(380.3, 468.5)

# Create box_office
box_office2 <- c(phantom_menace, attack_clones, revenge_sith)
print(box_office2)

# Construct star_wars_matrix
star_wars_matrix2 <- matrix(box_office2, nrow=3, byrow=TRUE)
star_wars_matrix2

# Vectors region and titles, used for naming
region <- c("US", "non-US")
titles <- c("The Phantom Menace", "Attack of the Clones", "Revenge of the Sith")

# Name the columns with region

colnames(star_wars_matrix2)<- region
# Name the rows with titles
rownames(star_wars_matrix2)<- titles
# Print out star_wars_matrix
star_wars_matrix2

[1] 474.5 552.5 310.7 338.7 380.3 468.5

     [,1]  [,2]
[1,] 474.5 552.5
[2,] 310.7 338.7
[3,] 380.3 468.5

                     US    non-US
The Phantom Menace   474.5 552.5
Attack of the Clones 310.7 338.7
Revenge of the Sith  380.3 468.5

In [76]:
# star_wars_matrix and star_wars_matrix2 are available in your workspace
star_wars_matrix  
star_wars_matrix2

                        US      non-US
A New Hope              460.998 314.4
The Empire Strikes Back 290.475 247.9
Return of the Jedi      309.306 165.8

                     US    non-US
The Phantom Menace   474.5 552.5
Attack of the Clones 310.7 338.7
Revenge of the Sith  380.3 468.5

In [79]:
# Combine both Star Wars trilogies in one matrix
all_wars_matrix <- rbind(star_wars_matrix,star_wars_matrix2)
all_wars_matrix

                        US      non-US
A New Hope              460.998 314.4
The Empire Strikes Back 290.475 247.9
Return of the Jedi      309.306 165.8
The Phantom Menace      474.500 552.5
Attack of the Clones    310.700 338.7
Revenge of the Sith     380.300 468.5

In [78]:
ls()

 [1] "A_vector"                  "all_wars_matrix"
 [3] "attack_clones"             "B_vector"
 [5] "boolean_vector"            "box_office"
 [7] "box_office2"               "character_vector"
 [9] "days_vector"               "empire_strikes"
[11] "my_apples"                 "my_character"
[13] "my_fruit"                  "my_logical"
[15] "my_numeric"                "my_oranges"
[17] "names"                     "new_hope"
[19] "numeric_vector"            "phantom_menace"
[21] "poker_midweek"             "poker_start"
[23] "poker_vector"              "poker_wednesday"
[25] "poker_winning_days"        "region"
[27] "return_jedi"               "revenge_sith"
[29] "roulette_selection_vector" "roulette_vector"
[31] "roulette_winning_days"     "selection_vector"
[33] "star_wars_matrix"          "star_wars_matrix2"
[35] "titles"                    "total_daily"
[37] "total_poker"               "total_roulette"
[39] "total_vector"              "total_week"
[41] "vegas"                     "worldwide_vector"
[43] "x"                         "y"

In [80]:
# all_wars_matrix is available in your workspace
all_wars_matrix

# Total revenue for US and non-US
total_revenue_vector <- colSums(all_wars_matrix)
  
# Print out total_revenue_vector
total_revenue_vector

                        US      non-US
A New Hope              460.998 314.4
The Empire Strikes Back 290.475 247.9
Return of the Jedi      309.306 165.8
The Phantom Menace      474.500 552.5
Attack of the Clones    310.700 338.7
Revenge of the Sith     380.300 468.5

      US   non-US
2226.279 2087.800

In [84]:
# all_wars_matrix is available in your workspace
all_wars_matrix

# Select the non-US revenue for all movies
non_us_all <- all_wars_matrix[,2]
non_us_all  
# Average non-US revenue
print("Average non-US revenue")
mean(non_us_all)
  
# Select the non-US revenue for first two movies
non_us_some <- all_wars_matrix[1:2,2]
non_us_some  
# Average non-US revenue for first two movies
print("Average non-US revenue for first two movies")
mean(non_us_some)

                        US      non-US
A New Hope              460.998 314.4
The Empire Strikes Back 290.475 247.9
Return of the Jedi      309.306 165.8
The Phantom Menace      474.500 552.5
Attack of the Clones    310.700 338.7
Revenge of the Sith     380.300 468.5

             A New Hope The Empire Strikes Back      Return of the Jedi
                  314.4                   247.9                   165.8
     The Phantom Menace    Attack of the Clones     Revenge of the Sith
                  552.5                   338.7                   468.5

[1] "Average non-US revenue"

[1] 347.9667

             A New Hope The Empire Strikes Back
                  314.4                   247.9

[1] "Average non-US revenue for first two movies"

[1] 281.15

In [85]:
# all_wars_matrix is available in your workspace
all_wars_matrix

# Estimate the visitors
visitors <- all_wars_matrix/5
  
# Print the estimate to the console
visitors

                        US      non-US
A New Hope              460.998 314.4
The Empire Strikes Back 290.475 247.9
Return of the Jedi      309.306 165.8
The Phantom Menace      474.500 552.5
Attack of the Clones    310.700 338.7
Revenge of the Sith     380.300 468.5

                        US      non-US
A New Hope              92.1996  62.88
The Empire Strikes Back 58.0950  49.58
Return of the Jedi      61.8612  33.16
The Phantom Menace      94.9000 110.50
Attack of the Clones    62.1400  67.74
Revenge of the Sith     76.0600  93.70

In [ ]:
# create ticket_prices_matrix

In [89]:
tp_new_hope <- c(5.0, 5.0)
tp_empire_strikes <- c(6.0, 6.0)
tp_return_jedi <- c(7.0, 7.0)
tp_phantom_menace <- c(4.0, 4.0)
tp_attack_clones <- c(4.5, 4.5)
tp_revenge_sith <- c(4.9, 4.9)

ticket_prices = c(tp_new_hope, tp_empire_strikes, tp_return_jedi, 
                tp_phantom_menace, tp_attack_clones, tp_revenge_sith)

ticket_prices_matrix = matrix(ticket_prices, nrow=6, byrow = TRUE)

# Vectors region and titles, used for naming
region <- c("US", "non-US")
total_titles <- c("A New Hope","The Empire Strikes Back", "Return of the Jedi" ,"The Phantom Menace", "Attack of the Clones", "Revenge of the Sith")

# Name the columns with region

colnames(ticket_prices_matrix)<- region
# Name the rows with total_titles
rownames(ticket_prices_matrix)<- total_titles
# Print out ticket_prices_matrix

ticket_prices_matrix

                        US  non-US
A New Hope              5.0 5.0
The Empire Strikes Back 6.0 6.0
Return of the Jedi      7.0 7.0
The Phantom Menace      4.0 4.0
Attack of the Clones    4.5 4.5
Revenge of the Sith     4.9 4.9

In [90]:
# all_wars_matrix and ticket_prices_matrix are available in your workspace
all_wars_matrix
ticket_prices_matrix

# Estimated number of visitors
visitors <- all_wars_matrix/ticket_prices_matrix
visitors
# US visitors
us_visitors <- visitors[,1]

# Average number of US visitors
mean(us_visitors)

                        US      non-US
A New Hope              460.998 314.4
The Empire Strikes Back 290.475 247.9
Return of the Jedi      309.306 165.8
The Phantom Menace      474.500 552.5
Attack of the Clones    310.700 338.7
Revenge of the Sith     380.300 468.5

                        US  non-US
A New Hope              5.0 5.0
The Empire Strikes Back 6.0 6.0
Return of the Jedi      7.0 7.0
The Phantom Menace      4.0 4.0
Attack of the Clones    4.5 4.5
Revenge of the Sith     4.9 4.9

                        US        non-US
A New Hope               92.19960  62.88000
The Empire Strikes Back  48.41250  41.31667
Return of the Jedi       44.18657  23.68571
The Phantom Menace      118.62500 138.12500
Attack of the Clones     69.04444  75.26667
Revenge of the Sith      77.61224  95.61224

[1] 75.01339